<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Yanote</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="../public/styles.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.css">
	</head>
	<body>
		<div id="app">
			<div class="notes-section">
				<div class="columns">
					<div class="column has-text-centered">
						<strong>Notes</strong>
						<div v-for="note in notes" class="notes">
							{{ note }}
						</div>
					</div>
					<div class="column has-text-centered">
						<strong>Timestamp</strong>
						<div v-for="time in timestamps" class="timestamps">
							{{ time }}
						</div>
					</div>
				</div>
				<input-component :placeholder="placeholder" />
			</div>
				<!-- using event bus to listen for event now -->
			<note-count-component />
		</div>

		<script src="https://unpkg.com/vue@next"> </script>
		<script src="https://unpkg.com/mitt/dist/mitt.umd.js"> </script>
		<script src="./main.js"></script>
	</body>
</html>
