<template>
	<div class="day-event" :style="getEventBackgroundColor">
		<div v-if="!event.edit">
			<div>
				<span class="has-text-centered details">{{ event.details }}</span>
				<div class="has-text-centered icons">
					<font-awesome-icon class="fa"
						icon="fa-solid fa-pencil"
						@click="editEvent(day.id, event.details)"/>
					<font-awesome-icon class="fa"
						icon="fa-solid fa-trash"
						@click="deleteEvent(day.id, event.details)"/>
				</div>
			</div>
		</div>
		<div v-else>
			<input type="text" :placeholder="event.details" v-model="newEventDetails" />
			<div class="has-text-centered icons">
				<font-awesome-icon class="fa"
					icon="fa-solid fa-check"
					@click="updateEvents(day.id, event.details, newEventDetails)" />
			</div>
		</div>
	</div>
</template>

<script>
import { store } from '../store.js';

export default {
	name: 'CalendarEvent',
	props: {
		day: {
			type: Object,
			required: true,
			newEventDetails: '',
		},
		event: {
			type: Object,
			required: true,
		},
	},
	computed: {
		getEventBackgroundColor() {
			const colors = [ '#ff9999', '#85d6ff', '#99ff99' ];
			let randomColor = colors[Math.floor(Math.random() * colors.length)];
			return `background-color: ${randomColor}`;
		}
	},
	methods: {
		editEvent(dayId, eventDetails) {
			store.editEvent(dayId, eventDetails);
		},
		updateEvents(dayId, eventDetails, updatedEventDetails) {
			if (updatedEventDetails === '') {
				updatedEventDetails = eventDetails;
			}
			store.updateEvents(dayId, eventDetails, updatedEventDetails);
			this.newEventDetails = ''
		},
		deleteEvent(dayId, eventDetails) {
			store.deleteEvent(dayId, eventDetails);
		}
	}
}
</script>

<style lang="scss" scoped>

	.day-event {
		margin-top: 6px;
		margin-bottom: 6px;
		display: block;
		color: #4c4c4c;
		padding: 5px;

		.details {
			display: block;
		}

		.icons .fa {
			padding: 0 5px;
		}

		input {
			background: none;
			border: 0;
			border-bottom: 1px solid #fff;
			width: 100%;

			&:focus {
				outline: none;
			}
		}
	}
</style>
