<template>
	<div id="cart">
		<div class="cart--header has-text-centered">
			<font-awesome-icon class="fa fa-2x" icon="fa-solid fa-shopping-cart" />
		</div>
		<p v-if="!cartItems.length"
			class="cart-empty-text has-text-centered">
			Add some item to cart
		</p>
		<ul v-if="cartItems.length > 0">
			<li v-for="cartItem in cartItems"
				:key="cartItem.id"
				class="cart-item">
				<CartListItem :item="cartItem" />
			</li>
			<div class="cart-details">
				<p>Total Quantity: <span class="has-text-weight-bold">{{ cartQuantity }}</span></p>
				<p @click="removeAllCartItems"
					class="cart-remove-all--text">
					<font-awesome-icon class="fa" icon="fa-solid fa-trash" />
					Remove all
				</p>
			</div>
		</ul>
		<button :disabled="!cartItems.length"
			@click="checkoutCart"
			class="button is-primary">
			Checkout (<span class="has-text-weight-bold">${{ cartTotal }}</span>)
		</button>
	</div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import CartListItem from "./CartListItem"

export default {
	name: 'CartList',
	created() {
		this.$store.dispatch('getCartItems');
	},
	computed: {
		...mapGetters([
			"cartItems",
			"cartQuantity",
			"cartTotal",
		])
	},
	components: {
		CartListItem,
	},
	methods: {
		/* removeAllCartItems() {
			this.$store.dispatch("removeAllCartItems");
		} */
		...mapActions([
			"removeAllCartItems",
			"checkoutCart",
		])
	}
}
</script>

<style scoped>
#cart {
	height: 100%;
	padding: 30px 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.cart--header {
	border-bottom: 1px solid #e8e8e8;
	padding-bottom: 15px;
}

.cart-details {
	font-size: 12px;
	display: flex;
	justify-content: space-between;
	padding: 15px;
}

.cart-remove-all--text .fa {
	padding-right: 5px;
}

.cart-remove-all--text {
	cursor: pointer;
}

</style>
