<template>
	<div>
		<p class="cart-item--title is-inline">{{ item.title }}</p>
		<div class="is-pulled-right">
			<font-awesome-icon
					@click="addCartItem(item)"
					class="fa cart-item--modify"
					icon="fa-solid fa-arrow-circle-up" />
				<font-awesome-icon
						@click="removeCartItem(item)"
						class="fa cart-item--modify"
						icon="fa-solid fa-arrow-circle-down" />
		</div>
		<div class="cart-item--content">
			<span class="cart-item--price has-text-primary has-text-weight-bold">
				{{ item.price }}$ each
			</span>
			<span class="cart-item--quantity has-text-grey is-pulled-right">
				Quantity: {{ item.quantity }}
			</span>
		</div>
	</div>
</template>

<script>
	import { mapActions } from "vuex";

	export default {
		name: "CartListItem",
		props: [ "item" ],
		methods: {
			...mapActions([
				"addCartItem",
				"removeCartItem",
			]),
		},
	}
</script>

<style scoped>
.cart-item {
	padding: 10px 0;
}

.cart-item--modify {
	cursor: pointer;
	margin: 0 1px;
}
</style>
