<template>
	<div id="products" class="box">
		<div class="products--header has-text-centered">
			<font-awesome-icon class="fa-2x" icon="fa-solid fa-user-circle" />
		</div>
		<div class="product-list">
			<div v-for="productItem in productItems"
				:key="productItem.id"
				class="product-list--item">
				<ProductListItem :productItem="productItem" />
			</div>
		</div>
		<div class="product-count has-text-right">
			<span class="has-text-weight-bold">
				# of products: 4
			</span>
		</div>
	</div>
</template>

<script>
import { mapGetters } from 'vuex';
import ProductListItem from './ProductListItem'

export default {
	name: 'ProductList',
	created() {
		this.$store.dispatch("getProductItems");
	},
	computed: {
		/* productItems() {
			return this.$store.getters.productItems;
		} */
		...mapGetters([
			// map this productItems to this.$store.getters.prodctItems
			"productItems",
		])
	},
	components: {
		ProductListItem,
	}
}
</script>

<style scoped>
.products--header {
	border-bottom: 1px solid #e8e8e8;
	padding-bottom: 15px;
}

.product-list {
	padding-top: 10px;
}

</style>
