<template>
	<div>
		<h2 class="has-text-weight-bold">{{ productItem.title }}
			<span @click="addCartItem(productItem)"
				class="tag is-primary is-pulled-right has-text-white">
				Add to Cart
			</span>
		</h2>
		<p>{{ productItem.description }}
		</p>
		<span class="has-text-primary has-text-weight-bold">
			<font-awesome-icon icon="fa-solid fa-usd" />
				{{ productItem.price }}
		</span>
	</div>
</template>

<script>
	import { mapActions } from "vuex";

	export default {
		name: "ProductListItem",
		props: [ "productItem" ],
		methods: {
			/* addCartItem(productItem) {
				this.$store.dispatch("addCartItem", productItem);
			} */
			...mapActions([
				// map this addCartItem with this.$store.dispatch("addCartItem", ...)
				"addCartItem",
			]),
		}
	}
</script>


<style scoped>
.product-list--item {
	padding: 10px 0;
}

.tag {
	cursor: pointer;
}
</style>
